<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="kr.kvgs.mapper.BoardMapper">

	<select id="getCommunity" resultType = "kr.kvgs.entity.Community">
                        
		select c.c_id c_id, c.title title, c.c_date c_date, m.m_name m_name, 
						c.img_path img_path, c.c_text c_text, c.w_email w_email  
				from community c, member m
		where c.w_email = m.m_email
				order by c.c_date desc
		
	</select>

	<select id="getHistory" resultType = "kr.kvgs.entity.DetectDis"
	                        parameterType="kr.kvgs.entity.Member">
    select d.dd_id dd_id, d.org_img org_img, d.dt_img dt_img, d.dd_email dd_email, 
            d.dd_date dd_date, d.dd_comment dd_comment, m.m_name m_name
        from detect_dis d, member m
		where d.dd_email = m.m_email
				order by d.dd_date desc
    		
	</select>

</mapper>